*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
   
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items:center;
}

ul{
    display: flex;
    list-style-type: none;
    align-items: center;


}

ul li a{
    padding:  0px 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #3a3a3a;
    display: inline-block;
}
    ul li a:hover{
        transition: ease-in .1s;

border-bottom:2px solid  #133b4f;;

    }

main{
    display: flex;
    b
    height:calc(100vh - 100px);
    align-items: center;
    justify-content: center;
}
.hero-img{
    max-width: 670px;
    height: auto;
}
.content-left{
    width: 30%;
}
main h1{
    font-size: 54px;
    color: #133b4f;
    text-transform: uppercase;
}
main h2{
    font-size: 25px;
    color: #fca70c;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8px;

}
 main p{
     font-size: 14px;
     font-weight: 400;
     color:#333;
     line-height: 31.5px;
     margin: 30px 0px;

 }

 .cta{
     padding: 15px 30px;
     background-color: #c4c4f7;
     color: white;
     outline: none;
     border: none;
     font-weight: 700;
     text-transform: uppercase;
     border-radius: 50px;
 }

 .signup-btn{
    
    padding: 15px 30px;
    background-color: #c4c4f7;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
 }


 .signup-btn:hover{
     box-shadow: 1px 3px 6px #133b4f;
     transition: ease-in .2s;
 }
.cta:hover{
    box-shadow: 1px 3px 6px #133b4f;
    transition: ease-in .2s;
}
